* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* background-color: black; */
    background-image: url(rm218-bb-07.jpg);
    background-size: cover;
    /* background-position: bottom; */
}

.main-div {
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    height: 460px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cityname {
    text-align: center;
    font-size: 30px;
}

.search-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.search-div img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.search {
    background-color: white;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 15px;
}

.btn {
    height: 40px;
    width: 40px;
    padding: 0%;
    margin: 0%;
    border-radius: 20px;
    cursor: pointer;
}

.temp-div {
    color: white;
    text-align: center;
}

.temp-div img {
    height: 120px;
    margin: 5% 7%;
}

.row0 {
    display: flex;
    color: white;
    justify-content: space-evenly;
    height: 70px;
    width: 275px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #ffffff10;
    padding-top: 10px;
}
.row0:hover{
    border: 1px solid rgb(12, 247, 255);
}
.row1 {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 10px;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 10px;
}

.box1 {
    height: 70px;
    width: 130px;
    border-radius: 10px;
    background-color: #ffffff10;
    text-align: center;
    transition: all .1s ease;
}

.box1:hover {
    border: 2px solid rgb(12, 247, 255);
}

.box2 {
    height: 70px;
    text-align: center;
    width: 130px;
    background-color: #ffffff10;
    border-radius: 10px;
    transition: all .1s ease;
}

.box2:hover {
    border: 2px solid rgb(12, 247, 255);
}